{% extends 'base.html' %}


{% block title %}Add a Pet{% endblock %}

{% block content %}
<div>
    <h1>Add a Pet</h1>

    <form action="" method="POST">
       {{ form.hidden_tag() }}
        
            {% for field in form 
                if field.widget.input_type != 'hidden' %}
       
            <p>
                {{ field.label (class_="fw-bold")}}
                {{ field }}
                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{err}}
                </small>
                {% endfor%}
            </p>
       
        {% endfor %}


    

        <button class="btn  btn-success">Submit</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>
</div>

{% endblock %}
<!-- (autocomplete=) -->