{% extends 'base.html' %}


{% block title %} Pet Adoption Agency {% endblock %}


{% block content %}

<div class="text-center">
    <h1 class="fw-bold">Pets</h1>
    <p>Help these friends find a loving family!</p>
</div>

<div class="row text-center">
    {% for pet in pets %}
        <div class="col-4">
            <img class="img-thumbnail" style="height: 200px; width: 300px;"src="{{pet.image_url()}}" alt="{{pet.name}}">
            
            {% if pet.available %}
            <p class="fs-5 fw-bold"><a style="text-decoration: none;" href="/{{pet.id}}">{{pet.name}}</a> is available!</p>
            {% endif %}

        </div>
    {% endfor %}
</div>

<div class="text-center mt-3">
    <a class="btn btn-success" href="/add">Add a Pet</a>
</div>
{% endblock %}